.time-8{
    background: url(../images/time-8/черныйфон.png);
    width: 100%;
    height: 100%;
     .time-1{
       
     }
     .time-{
         padding-top: 100px;
     }
     .fhop{
         
     }
     .clacc-1{
         padding-left: 23px;
     }
     .oboloxka-1{
       
     }
     }
     .save{
       
       background:#191B1C;
         padding: 55px 22px 56px 23px;
     }
     
     .glavn{
         display: flex;
         
     }
     .glavnie{
         display: flex;
     }
     .clacc-1{
      
     }
     .hor{
         display: flex;
         align-items: center;
         justify-content: center;
        
     }
     .hore{
         display: flex;
         align-items: center;
         justify-content: center;
         padding-bottom: 120px;
     }
     .t8{
     
     }
     .time-8-text{
       text-align: center;
       justify-content: center;
       font-family: Playfair Display;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
   padding-top: 120px;
   padding-bottom: 81px;
   
   
       color: white;
       
       
     }
     .time-text{
       color: white;
     }