body{
    font-family: PT Sans;
    margin:0;
    border: 0;
    
}
@import './header';
@import './sans';
@import './hard';
@import './kolec';
@import './time-8';
@import './footer';
@import './webrand';